@use '../utils/setup' as *;

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  border-radius: $radius-xl;
  width: 100%;
  height: rem(255);
  @include breakpoint('lg') {
    height: rem(445);
  }
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  flex-shrink: 0;
  flex-grow: 1;
  height: rem(255);
  @include breakpoint('lg') {
    height: rem(445);
  }
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: rem(20);
  height: rem(20);
  background: transparent;
  border: 0;
  cursor: pointer;
  svg {
    width: rem(20);
    height: rem(20);
  }
}

.left-arrow {
  left: rem(8);
}

.right-arrow {
  right: rem(8);
}

.current-state {
  display: none;
}

@include breakpoint('lg') {
  .left-arrow,
  .right-arrow {
    width: rem(80);
    height: rem(80);
    svg {
      width: rem(80);
      height: rem(80);
    }
  }
  .left-arrow {
    left: rem(24);
  }

  .right-arrow {
    right: rem(24);
  }
  .current-state {
    display: block;
    position: absolute;
    width: 100%;
    bottom: rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
  }
}
