@use '../utils/setup' as *;
footer {
  background: $text-color;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  padding: rem(60) 0 rem(29) 0;
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: rem(12);
    p {
      margin: 0;
    }
    @include breakpoint('lg') {
      flex-direction: row;
      gap: rem(5);
      p {
        font-size: rem(24);
      }
    }
  }
}
