// font-family variable
$font-family-text: 'Montserrat', sans-serif;
$font-size-default: 16px;

// font-weight
$font-weight-bold: 700;
$font-weight-semi-bold: 500;
$font-weight-normal: 300;
$font-weight-light: 100;

//color
$pink-light-color: #ff6060;
$grey-light-color: #f6f6f6;
$text-color: #000000;
$white: #ffffff;
$bg-dropdown-content: rgba(246, 246, 246, 0.45);

// border-radius
$radius-xs: 5px;
$radius-md: 10px;
$radius-lg: 20px;
$radius-xl: 25px;

//breakpoints
$breakpoints: (
  'sm': 576px,
  // Small (tablette)
  'md': 768px,
  // Medium (tablette large)
  'lg': 992px,
  // Large (desktop)
  'xl': 1200px,
  // Extra Large (desktop large)
  'xxl': 1400px, // Extra Extra Large (4K)
);
